<div class="container-md mt-3">
  <div class="info-container">
    <p class="info-title">Welcome to animal portal</p>
    <p class="info-description">Update your own account</p>
  </div>
  <form class="mt-2 row" [formGroup]="form" (submit)="submit()">
    <mat-form-field class="col-md-6 mt-3"  appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error>Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6 mt-3"  appearance="outline" >
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error>Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12 col-md-6 mt-3"  appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" email>
      <mat-error>Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12 col-md-6 mt-3"  appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <ng-container *ngIf="image; then imageView; else fileInput"></ng-container>
    <ng-template #imageView>
      <img [ngSrc]="String(image)" class="post-image" height="100" width="250" matTooltip="Click to remove image" (click)="removeImage()"/>
    </ng-template>
    <ng-template #fileInput>
      <mat-form-field appearance="outline">
        <ngx-mat-file-input [formControl]="imageForm" ></ngx-mat-file-input>
      </mat-form-field>
    </ng-template>
    <button class="col-12 mt-3 ms-2 me-4 submit-button" mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Save</button>
  </form>

  <mat-divider class="mt-4 mb-4"></mat-divider>

  <form [formGroup]="passwordForm" (submit)="submitPassword()">
    <mat-form-field class="col-12 mt-3"   appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required minlength="8">
      <mat-error>Field is required</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Password must be min 8 sign</mat-hint>
    </mat-form-field>
    <mat-form-field class="col-12 mt-3"   appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required minlength="8">
      <mat-error>Field is required</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Password must be min 8 sign</mat-hint>
    </mat-form-field>
    <mat-form-field class="col-12 mt-3"   appearance="outline">
      <mat-label>Repeat new password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatPassword" required minlength="8">
      <mat-error>Field is required</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Password must be min 8 sign</mat-hint>
    </mat-form-field>
    <button class="col-12 mt-3 ms-2 me-4 submit-button" mat-raised-button type="submit" color="primary" [disabled]="passwordForm.invalid">Save</button>
  </form>

</div>
