<div class="container-lg mt-3">
  <div class="form-border">
    <form class="row" [formGroup]="form" (submit)="submit()">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="title" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12 mt-2">
        <mat-label>Opis</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-12 col-lg-4">
        <input matInput [ngxMatDatetimePicker]="$any(startPicker)" placeholder="Start Date"
               [min]="minDate" [max]="maxDate" [disabled]="disabled" formControlName="startDateTime" required>
        <mat-datepicker-toggle matSuffix [for]="$any(startPicker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #startPicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                 [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-12 col-lg-4">
        <input matInput [ngxMatDatetimePicker]="$any(endPicker)" placeholder="End Date"
               [min]="minDate" [max]="maxDate" [disabled]="disabled" formControlName="endDateTime" required>
        <mat-datepicker-toggle matSuffix [for]="$any(endPicker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #endPicker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                 [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                 [color]="color" [enableMeridian]="enableMeridian">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="row-cols-3" *ngIf="friends$ | async as friends">
        <mat-label>Guest</mat-label>
        <mat-select [multiple]="true" formControlName="members">
          <mat-option *ngFor="let friend of friends" [value]="friend.id">{{friend.firstName | titlecase}} {{ friend.lastName | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="container mw-100 justify-content-center container-fluid">
        <button mat-raised-button color="primary" class="col-12 col-lg-4" type="submit" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
